.list-films{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
}

.film{
    margin-top: 1rem;
    border: solid transparent 2px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    white-space: pre-line;
    display: grid;
    grid-template-rows: 65% 5px 15% 15%;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
}
.film img{
    width:100%;
}
.film img:hover{
    opacity: 0.8;
    border: solid rgb(48, 102, 190) 2px;
}
.film :nth-child(1){
    border-radius: 1.5rem 1.5rem 0 0;
}
.film :nth-child(2){
    background-color: rgb(48, 102, 190);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0.2rem 0;
}
.film :nth-child(3), .film :nth-child(4){
    padding: 0.5rem 1rem 0 1rem;
    font-size: 0.75rem;
}